<div class="container-fluid d-flex flex-column justify-content-start" id="content">
    <h4 id="section-title">
        <span id="number-section">03.</span>
        <span>My projects</span>
    </h4>
    <div class="d-flex flex-column mt-5">
        <p>
            Here are my most <span class="vibrant-text">outstanding projects</span> in which I have participated during
            my years at the University.
        </p>
        <div>
            <div class="repo-card" data-repo="IvanM1903/ivanm1903.github.io" data-theme="dark-theme"></div>
        </div>
    </div>
</div>