<div class="container-fluid d-flex flex-column justify-content-start" id="content">
    <h4 id="section-title">
        <span id="number-section">01.</span>
        <span>About Me</span>
    </h4>
    <div class="d-flex flex-lg-row flex-column justify-content-between">
        <div class="mt-3 col-lg-5 " id="about-description">
            Hello! My first introduction into the programming world was during high school,
            in 2017 developing some basic websites with the LAMP stack.
            <br><br>
            Later I started <span>Computer Science Engineering</span> at <span class="vibrant-text"
                id="studies">Universidad Carlos III de Madrid</span>
            where I have been studying from 2018 until June 2022.
            <br><br>
            During these years I have specialized in the <span>Computer Engineering</span> branch where I have learned
            basic and advanced notions about <span class="vibrant-text">cybersecurity, web and multiplatform
                development, IoT among others</span>.
            <br><br>
            In addition, in 2020 I participated with some of my colleagues in the so-called MEW (Madrid Engineering
            Week)
            presenting a <span class="vibrant-text">prototype of Artificial Intelligence to classify people</span>,
            organized by the University with
            attending
            companies such as IBM or Thales among others.
            <br><br>
            I'm currently working as a Full Stack Developer for <b>Deimos Space</b>.
        </div>
        <div class="col-lg-5 ms-lg-auto ms-md-auto me-md-auto mt-5" id="image-container">
            <img id="profile-image" class="img-fluid rounded-3" src="../../../../assets/images/profile-image.jpg"
                alt="Profile Image" />
            <span class="one"></span>
            <span class="two"></span>
            <span class="three"></span>
            <span class="four"></span>
        </div>
    </div>
    <p class="text-center mt-4">
        <span class="vibrant-text">Here is a list of some technologies which I'm familiar with!</span>
    </p>
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline mt-3 mb-3" id="tech-container">
        <div class="col-lg-4 col-12 d-flex flex-column">
            <p class="text-center tech-stack">Frontend</p>
            <p class="border-top w-75 ms-auto me-auto d-lg-none separator"></p>
            <ul class="ms-auto me-auto">
                <li class="d-flex flex-row align-items-center">
                    <i class="fab fa-js fa-2x pe-3"></i>
                    <span>JavaScript</span>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <i class="fab fa-angular fa-2x pe-3"></i>
                    <span>Angular</span>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <i class="fab fa-css3-alt fa-2x pe-3"></i>
                    <span>CSS</span>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <i class="fab fa-bootstrap fa-2x pe-3"></i>
                    <span>Bootstrap</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-12 d-flex flex-column">
            <p class="text-center tech-stack">Backend</p>
            <p class="border-top w-75 ms-auto me-auto d-lg-none separator"></p>
            <ul class="ms-auto me-auto">
                <li class="d-flex flex-row align-items-center">
                    <i class="fab fa-java fa-2x pe-3"></i>
                    <span>Java</span>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <i class="fa fa-leaf fa-2x pe-3"></i>
                    <span>SpringBoot</span>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <i class="fab fa-git-alt fa-2x pe-3"></i>
                    <span>Git</span>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <i class="fa fa-database fa-2x pe-3"></i>
                    <span>MySQL</span>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <i class="fa-brands fa-envira fa-2x pe-3"></i>
                    <span>MongoDB</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-12 d-flex flex-column">
            <p class="text-center tech-stack">Devops</p>
            <p class="border-top w-75 ms-auto me-auto d-lg-none separator"></p>
            <ul class="ms-auto me-auto">
                <li class="d-flex flex-row align-items-center">
                    <i class="fa-brands fa-microsoft fa-2x pe-3"></i>
                    <span>Azure</span>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <i class="fa-brands fa-google fa-2x pe-3"></i>
                    <span>GCP</span>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <i class="fa-brands fa-docker fa-2x pe-3"></i>
                    <span>Docker</span>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <i class="fa-brands fa-linux fa-2x pe-3"></i>
                    <span>Linux</span>
                </li>
            </ul>
        </div>
    </div>
</div>