:host *:not(i) {
    font-family: 'Inter Regular';
    color: var(--text-light-color);
}

.list-group-item{
    font-family: 'SF Mono Regular' !important;
    border: 0 !important;
    color: inherit !important;
}

.list-group-item:hover{
    cursor: pointer;
    color: var(--text-vibrant-color);
}

.list-group{
    border-left: 1px solid var(--lines-color);
    height: fit-content;
}
.list-group li{
    background-color: var(--primary-bg);
}

.list-item-clicked{
    border-left: 5px solid var(--text-vibrant-color) !important;
    color: var(--text-vibrant-color) !important;
    background-color: var(--offcanvas-bg) !important;
    transition: 0.2s;
}

#number-section {
    font-family: 'SF Mono Regular';
    color: var(--text-vibrant-color) !important;
    font-size: larger;
    font-weight: normal !important;
}

#section-title {
    font-weight: 600;
    display: inline-block;
}

#resume-experience{
    list-style: none;
}

#resume-experience li:first-child{
    padding-top: 0 !important;
 }

#resume-experience li{
   padding-left: 0.5em;
   padding-top: 1vh;
   color: var(--text-not-muted-color) !important;
}

#resume-experience li::marker{
    content: attr(data-icon);
    font-size: 1.25em;
}

#content{
    min-height: 80vh !important;
}

#content-experience{
    width: 100%;
    margin-top: 20vh !important;
}
.time-experience{
    color: var(--text-muted-color) !important;
    font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
    #content{
        justify-content: start !important;
        min-height: 100vh !important;
    }
    #content-experience{
        margin-top: 10vh !important;
    }
}

@media (orientation: landscape) {
    #content{
        margin-bottom: var(--header-height) !important;
    }
}