<div class="container-fluid d-flex flex-column justify-content-start" id="content">
    <h4 id="section-title" class="text-lg-end me-5">
        <span id="number-section">02.</span>
        <span>Where I've worked</span>
    </h4>

    <p class="d-flex flex-column justify-content-center align-items-center fs-4 mt-auto mb-auto">
        <span class="pb-3">Unfinished section..</span>
        <i class="fa-solid fa-cog fa-spin"></i>
        <span class="pt-3">Webpage under devlopment.</span>
    </p>
</div>