<div class="container-fluid ">
    <div class="container d-flex flex-column justify-content-top">
        <div id="name-container">
            <h6 class="vibrant-text">Hello World! My name is</h6>
            <h1>Iván Martín Prieto.</h1>
            <h1 class="short-text">I enjoy exploring new things!</h1>
        </div>
        <div class="col-lg-6" id="text-container">
            I am a Computer Engineer based in Spain, with a creative, goal-oriented mindset and a passion for learning and innovation.
        </div>
        &nbsp;
    </div>
</div>