<div class="container-fluid ">
    <div class="container d-flex flex-column justify-content-start">
        <div id="name-container">
            <h6 class="vibrant-text">Hello World! My name is</h6>
            <h1>Iván Martín Prieto.</h1>
            <h1 class="short-text">I enjoy exploring new things! <span class="vibrant-text">🚀</span></h1>
        </div>
        <div class="col-lg-7" id="text-container">
            I am a Computer Engineer based in Spain, with a creative, goal-oriented mindset and a passion for learning and innovation.
            <br>
            <br>
            Currently working as a Full Stack Developer at <span class="vibrant-text" id="current-work">Deimos Space</span>.
            <br>
            <br>
            Outside work, I occasionally spent my time learning new technologies and listening podcasts related to them.
        </div>
    </div>
    <div class="container d-flex flex-column justify-content-start">
        <app-about-me id="about-section"></app-about-me>
        <app-experience id="experience-section"></app-experience>
    </div>
</div>