:host * {
    font-family: 'Inter Regular';
    color: var(--text-light-color) !important;
}

.container-fluid {
    margin-top: var(--header-height) !important;
    background-color: var(--primary-bg) !important;
}

.container {
    min-height: 100vh;
    margin-top: var(--header-height) !important;
}

.vibrant-text {
    font-family: 'SF Mono Regular';
    color: var(--text-vibrant-color) !important;
}

h1 {
    font-size: 5rem;
    font-weight: 600;
}

.short-text {
    color: var(--text-muted-color) !important;
    font-size: 4.5rem;
}

#current-work {
    display: inline-block;
}

#current-work:hover {
    cursor: pointer;
}

#current-work::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--text-vibrant-color);
    transition: 300ms;
}

#current-work:hover::after {
    width: 100%;
}

#name-container {
    margin-top: 20vh;
    margin-bottom: 5vh;
}

#text-container {
    font-size: 1rem;
    color: var(--text-not-muted-color) !important;
    margin-bottom: 5vh !important;
}

/********************
 @ MEDIA QUERYS
********************/

@media only screen and (max-width: 768px) {

    h1,
    .short-text {
        font-size: 3rem;
    }

    #name-container{
         margin-top: 10vh; 
    }

    #text-container {
        font-size: 1rem;
    }
}