
#content{
    margin: 1.2rem;
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: 6px;
    transition: ease-out 0.3s;
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
}

#content:hover{
    transform: translate(5px, -5px);
    box-shadow: -5px 5px var(--text-vibrant-color);
    background-color: var(--card-bg-hover);
    cursor: pointer;
}

#project-header{
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    border-bottom: 1.5px solid var(--text-muted-color);
}

.project-title{
    font-family: 'SF Mono Regular';
    margin: 0 !important;
    margin-left: 2vw !important;
    font-size: 1.1rem !important;
    color: var(--text-light-color);
}

/* --- Text ellipsis --- */
#content .project-text {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--text-not-muted-color);
}


@media only screen and (max-width: 768px) {
    #content{
        margin: 1.2rem 0;
        width: 100% !important;
    }

    #project-header{
        padding-bottom: 2vh;
        margin-bottom: 2vh;
    }
    
    #content .project-text {
        -webkit-line-clamp: 4;
    }
}