/* You can add global styles to this file, and also import other style files */
:root{
    --offcanvas-bg: #172A45;
    --primary-bg: #0A192F;
    --card-bg: #21395b76;
    --card-bg-hover: #3a588276;
    --text-vibrant-color: #64ffda;
    --text-light-color: #CCD6F6;
    --text-not-muted-color: #bbc4e2c5;
    --text-muted-color: #bbc4e2a0;
    --lines-color: #303c55;
    --header-height: 87.8594px;
    --overflow-header: 5vh;
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: var(--header-height);
}

html {
    background-color: var(--primary-bg) !important;
    margin: 0;
}

.vibrant-text {
    font-family: 'SF Mono Regular' !important;
    color: var(--text-vibrant-color) !important;
}

@font-face {
    font-family: 'SF Mono Regular';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Regular'), url('assets/fonts/SFMonoRegular.woff') format('woff');
}

@font-face {
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Inter Regular'), url('assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Quantico Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Quantico Regular'), url('assets/fonts/Quantico-Regular.ttf') format('ttf');
}
