<div id="container-footer">
    <div class="d-flex flex-row justify-content-between" class="container-fluid">
        <div class="text-end me-lg-3 ms-lg-auto">
            <div class="d-flex flex-column" id="icons-container">
                <a href="https://www.linkedin.com/in/ivan-m-p/"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/IvanM1903"><i class="bi bi-github"></i></a>
                <a href="https://www.instagram.com/imp1903/"><i class="bi bi-instagram"></i></a>
                <div class="vertical-line"></div>
            </div>
        </div>
    </div>

    <p class="d-lg-none text-center" id="footer-text">
        Designed by Iván Martín Prieto - 2022 <span>&copy;</span>
    </p>
</div>