:host * {
    font-family: 'Inter Regular';
    color: var(--text-light-color) !important;
    z-index: 9999 !important;
}

#container-footer {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 100vw;
    background-color: transparent !important;
}

#icons-container {
    font-size: 1.7rem;
    background-color: transparent !important;
}

#icons-container a {
    margin-bottom: 1.5vh;
    transition: ease-in-out 0.15s;
    background-color: transparent !important;
    width: fit-content;
    margin-left: auto;
}

#icons-container a i {
    color: var(--text-vibrant-color) !important;
}

#icons-container a:hover {
    transform: translateY(-0.5vh);
}

#icons-container a>i:hover {
    color: var(--text-vibrant-color) !important;
}

.vertical-line {
    width: 2px;
    margin-left: auto;
    margin-right: 12px;
    /* Line width */
    height: 10vh;
    background-color: var(--text-vibrant-color) !important;
    display: inline-block;
}

#footer-text {
    font-family: 'SF Mono Regular';
    font-size: small;
    padding-top: 5vh;
    color: var(--text-vibrant-color) !important;
}


/********************
 @ MEDIA QUERYS
********************/

@media only screen and (max-width: 1024px) {

    #container-footer {
        position: relative;
        width: auto;
        margin: 0 !important;
        padding: 0 !important;
        background-color: var(--primary-bg) !important;
    }

    #icons-container {
        flex-direction: row !important;
        justify-content: space-evenly !important;
        align-items: center !important;
    }

    #icons-container a {
        font-size: 1.3rem;
        margin-left: 0;
    }

    .vertical-line {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    #container-footer {
        padding-top: 10vh !important;
    }

}